.header {
    min-height: 20vh;
    max-height: 20vh;
    position: fixed;
    top: 0;
    z-index: 99999;
}
#navigation {
    background: #313131;
    width: 100%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex: 1;
    list-style: none;
    li {
        a {
            p {
                color: #e7e7e7;
                padding: 2rem;
            }
            img {
                width: 10%;
            }
        }
    }
}

#intro {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 7fr 1fr;

    img {
        grid-column: 2/3;
    }

    .footer {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}