#portfolio {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #mycarousel {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

.active {
    color: #A3B8EF;
}