html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #e7e7e7;
    font-family: "Monsterrat", sans-serif;
    background: #313131;
}

h1 {
    font-size: 5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
    margin-bottom: 5rem;
}

p {
    font-size: 2.5rem;
}

li {
    font-size: 2rem;
}

a {
    color: #e7e7e7;
    text-decoration: none;
}

.footer, footer {
    font-size: 2rem;
    text-align: center;
}

.spacer {
    min-height: 15vh;
}

@import 'skin';
@import 'header';
@import 'portfolio';
@import 'social';
@import 'about';
@import 'contact';