html {
  /*background: url("../images/wallpaper.png") no-repeat center center fixed;*/
  background-color: #fbfbfb;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.command {
  margin-right: 2%;
  margin-left: 2%;
  /*background-color: rgba(56,56,56,0.6);*/
  background-color: #383838;
  box-shadow: 5px 5px 10px #383838;
  /*backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  height: 100%;
  padding-left: 1%;
}
h1:not(.maincontainer) {
  font-size: 1vw;
  color: #bcbcbc;
  text-align: left;
  font-family: "Iosevka Term Web", monospace;
}
.maincontainer {
  font-size: 1vw;
  color: #383838;
  text-align: left;
  font-family: "Iosevka Term Web", monospace;
}
a {
  font-size: 0.8vw;
  font-weight: normal;
  color: #D1D1D1;
  text-decoration: none;
  font-family: "Iosevka Term Web", monospace;
}
a:visited {
  color: #D3A8B1;
}
header {
  /*background-color: rgba(56,56,56,0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  background-color: #383838;
  box-shadow: 5px 5px 10px #383838;
}
table {
  width: 100%;
}
th {
  text-align: left;
}
.searchForm {
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
p,th,td,li {
  color: #E5E5E5;
  font-size: 0.8vw;
  font-family: "Iosevka Term Web", monospace;
}
li { 
  list-style-type: none;
}
.searchBar {
  width: 100%;
  border: none;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  color: #E5E5E5;
  background-color: transparent;
  font-size: 1vw;
  outline-color: #E5E5E5;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
